/*Global*/
html,body{
  height: 100%;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}
select {
  display: inline-block;
  width: 500px;
}
/*rsuite select*/
.css-2b097c-container {
  width: 200px;
  display: inline-block;
}
/*rsuite input*/
.rs-input {
  width: 200px!important;
  display: inline-block!important;
}

.divline {
  min-width: 300px;
  max-width: 300px;
  margin-bottom: 10px;
  display: inline-block;
}

.divfullline {
  min-width: 300px;
  max-width: 100%;
  margin-bottom: 10px;
}
label {
  padding-right: 10px;
}

section {
  min-width: 500px;
}

.rs-slider {
  margin-bottom: 10px;
}
#main_container {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 50px;
}

.container_board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container_block {
  display: flex;
  width: 440px;
  /* margin-left: 10px!important;
  margin-right: 10px!important; */
}

.display_none {
  display: none;
}

.display_inline {
  display: block;
}

.right {
  float: right;
}
.text_align_center {
  text-align: center;
}
/* nes */
.avatar_config {
  margin: 10px;
  border: black 1px solid;
}

.nes-input-number {
  text-align: right;
}

.nes-input-text {
  text-align: left;
}
#root, .App{
  height: 100%;
}

.Head-bar {
  background: white;
  background: #c5170e;
  height: 70px;
  width: 1000px;
}

.Head-bar .text{
  padding-top: 20px;
  color: white;
  text-align: left;
  font-weight: bold;
  /* font-size: 20px; */
  font-size: 15px;
  padding-left: 20px;
}

.Question-text {
  padding-left: 20px;
  width: 1000px;
  font-family: "Times New Roman", Times, serif;

  font-size: 15px;
  font-family: "Press Start 2P";
}

/*Override_fontawesome*/
.svg-inline--fa {
  color: white;
}
/*understand*/
.timer {
  position: fixed;
  right: 80px;
  top: 220px;
  width: 50px;
}

.timer-icon{
  position: fixed!important;
  top: 190px;
  right: 90px;
}

/*Util_plain_text*/
.paper_line{
  fill:white;
  stroke-width:3;
  stroke:#c7c7c7;
}

/* text {
  pointer-events: all;
} */
/*Util_indent_tree*/
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 0.5px;
   pointer-events: all;
}

/* .node text {
  font: 12px sans-serif;
} */

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  pointer-events: none;
}

/*Util_indent_tag*/
.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: 0.5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 12px sans-serif;
  pointer-events: all;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
  pointer-events: none!important
}


.understandGraph svg{
  border: solid 1px;
  margin-top: 10px;
  /* width: 500px; */
}

/*.understandGraph svg g{
  fill: none;
}*/

/*Util_table_tool*/
.understandGraph .block {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  float: left;
}

rect.box_title {
  stroke-width: 1px;
  /* stroke: black; */
  fill: #c5170e;
  cursor: pointer;
}

g > .title_text {
  padding-left: 20px;
  width: 1000px;
  fill: white;
}

rect.tabletool_top {
    stroke-width: 1px;
    stroke: black;
    fill: #ffac00;
    cursor: pointer;
}

g > .box_text {
  font: bold 20px sans-serif;
  /* pointer-events: all; */
}

/*Dashboard*/
.nes-container-center-overwrite {
  max-width: 500px!important;
  margin-left: auto;
  margin-right: auto;
}

.nes-container-normal {
  max-width: 500px!important;
}

div.click-to-top {
  max-width: 500px;
  display: inline-block;
}
div.click-to-top span {
  display: none;
  position: absolute;
  /* bottom: 0;
  left: 0;
  right: 0; */
  background: #333;
  color: #fff;
}
div.click-to-top:hover span {display: block; }
